.outer-div{
    background-color: green;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 60em;
}
.img-div{
    background-color: indianred;
    width: 30em;
    margin: 30px;
    border-radius: 16pt;
    align-items: center;
}

img{
    height: 55em;
}
