<div class="outer-div">
    <div class="spacer"></div>
    <div class="parent">
        <h1>Datenschutzerklärung</h1>
        <p>Ihre Privatsphäre ist mir sehr wichtig, deshalb sammle ich so wenig Daten wie möglich. Die Daten werden über
            die
            RevenueCat API gesammelt, die für den Kauf von Produkten innerhalb der App verwendet wird. Ihre
            Benutzerdaten
            werden daher von RevenueCat gespeichert und verwaltet. Diese Daten sind jedoch vollständig anonymisiert und
            es
            ist kaum möglich, Rückschlüsse auf Ihre Person zu ziehen. Alle Daten, die gespeichert werden, sind für die
            Funktionalität wichtig.</p>
        <h4>Folgende Daten werden gespeichert:</h4>
        <ul class="li">
            <li>Einzigartige App User ID (jeder Nutzer bekommt eine ID zugeordnet um das Kaufen von Produkten zu
                realisieren)</li>
            <li>Land</li>
            <li>Gekaufte Produkte (wann und welche)</li>
            <li>Letzte Verwendung der App</li>
            <li>Download-Datum</li>
        </ul>
        <img src="assets/secure.svg" alt="">
    </div>
    <div class=" spacer">
    </div>
    <div class="spacer"></div>
</div>