<div class="outer-div">
    <div class="spacer"></div>
    <div class="parent">
        <h1>Nutzungsbedingungen</h1>
        <tui-accordion class="container">
            <tui-accordion-item>
                Bedingungen
                <ng-template tuiAccordionItemContent>
                    Durch den Zugriff auf meine (Katrin Krinke) App, Intervallo, erklären Sie sich mit diesen
                    Nutzungsbedingungen und allen geltenden Gesetzen und Vorschriften einverstanden und stimmen zu, dass
                    Sie
                    für die Einhaltung aller geltenden lokalen Gesetze verantwortlich sind. Wenn Sie mit einer dieser
                    Bedingungen nicht einverstanden sind, dürfen Sie Intervallo nicht nutzen oder darauf zugreifen. Die
                    in
                    Intervallo enthaltenen Materialien sind durch die geltenden Urheberrechts- und Markengesetze
                    geschützt.
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item>
                Lizenz verwenden
                <ng-template tuiAccordionItemContent>
                    <div #content>
                        Es wird die Erlaubnis erteilt, eine Kopie von Intervallo pro Gerät nur für den persönlichen,
                        nicht-kommerziellen Gebrauch herunterzuladen. Dies ist die Gewährung einer Lizenz, nicht eine
                        Übertragung des Eigentumsrechts, und unter dieser Lizenz dürfen Sie nicht:

                        die Materialien verändern oder kopieren

                        die Materialien für kommerzielle Zwecke oder für eine öffentliche Darstellung (kommerziell oder
                        nicht kommerziell) verwenden

                        versuchen, die in Intervallo enthaltene Software zu dekompilieren oder zurückzuentwickeln

                        jegliche Urheberrechts- oder andere Eigentumsvermerke aus den Materialien entfernen

                        die Materialien an eine andere Person übertragen oder die Materialien auf einem anderen Server
                        "spiegeln"

                        Diese Lizenz erlischt automatisch, wenn Sie eine dieser Einschränkungen verletzen, und kann von
                        mir
                        jederzeit gekündigt werden. Nach Beendigung der Betrachtung dieser Materialien oder nach
                        Beendigung
                        dieser Lizenz müssen Sie alle heruntergeladenen Materialien, die sich in Ihrem Besitz befinden,
                        sei
                        es in elektronischer oder gedruckter Form, vernichten.
                    </div>
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item>
                Haftungsausschluss
                <ng-template tuiAccordionItemContent>
                    Die Materialien in Intervallo werden in der vorliegenden Form zur Verfügung gestellt. Ich gebe keine
                    Garantien, weder ausdrücklich noch stillschweigend, und schließe hiermit alle anderen Garantien aus,
                    einschließlich, aber nicht beschränkt auf, stillschweigende Garantien oder Bedingungen der
                    Gebrauchstauglichkeit, der Eignung für einen bestimmten Zweck oder der Nichtverletzung von geistigem
                    Eigentum oder anderen Rechtsverletzungen. Darüber hinaus übernehme ich keine Gewähr für die
                    Genauigkeit,
                    die möglichen Auswirkungen oder die Zuverlässigkeit der Nutzung der Materialien auf meiner Website
                    oder
                    in Bezug auf derartige Materialien oder auf Websites, die mit Intervallo verlinkt sind, und gebe
                    keine
                    Zusicherungen ab.
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item>
                Beschränkungen
                <ng-template tuiAccordionItemContent>
                    In keinem Fall haften ich oder meine Zulieferer für Schäden (einschließlich, aber nicht beschränkt
                    auf
                    Schäden durch Daten- oder Gewinnverluste oder Geschäftsunterbrechungen), die sich aus der Nutzung
                    oder
                    der Unmöglichkeit der Nutzung von Intervallo ergeben, selbst wenn ich oder ein bevollmächtigter
                    Vertreter mündlich oder schriftlich auf die Möglichkeit solcher Schäden hingewiesen wurde. Da einige
                    Gerichtsbarkeiten keine Beschränkungen von stillschweigenden Garantien oder Haftungsbeschränkungen
                    für
                    Folgeschäden oder zufällige Schäden zulassen, gelten diese Beschränkungen möglicherweise nicht für
                    Sie.
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item>
                Genauigkeit der Materialien
                <ng-template tuiAccordionItemContent>
                    Das in Intervallo veröffentlichte Material kann technische, typografische oder fotografische Fehler
                    enthalten. Ich übernehme keine Gewähr für die Richtigkeit, Vollständigkeit oder Aktualität der
                    Inhalte
                    von Intervallo. Ich kann jederzeit und ohne Vorankündigung Änderungen an den in Intervallo
                    enthaltenen
                    Materialien vornehmen. Ich verpflichte mich jedoch nicht, die Materialien zu aktualisieren.
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item>
                Links
                <ng-template tuiAccordionItemContent>
                    Ich habe nicht alle mit meiner App verlinkten Seiten überprüft und bin nicht für die Inhalte der
                    verlinkten Seiten verantwortlich. Die Aufnahme eines Links bedeutet nicht, dass ich die Seite
                    unterstütze. Die Nutzung einer solchen verlinkten Website erfolgt auf eigenes Risiko des Nutzers.
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item>
                Änderungen
                <ng-template tuiAccordionItemContent>
                    Ich kann diese Nutzungsbedingungen für die App jederzeit und ohne Vorankündigung überarbeiten. Durch
                    die
                    Nutzung von Intervallo erklären Sie sich mit der jeweils aktuellen Version dieser
                    Nutzungsbedingungen
                    einverstanden.
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item>
                Geltendes Recht
                <ng-template tuiAccordionItemContent>
                    Diese Bedingungen unterliegen dem deutschen Recht und Sie unterwerfen sich unwiderruflich der
                    ausschließlichen Rechtsprechung der Gerichte dieses Staates oder Ortes.
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item>
                Abonnements und In-App-Käufe
                <ng-template tuiAccordionItemContent>
                    Die Zahlung wird bei der Kaufbestätigung mit Ihrem iTunes-Konto verrechnet.

                    Die Trainings, die Sie in Intervallo kaufen, behalten Sie für immer. Wenn Sie die App löschen und
                    neu
                    installieren, können Sie sie wiederherstellen, indem Sie auf die Schaltfläche "Wiederherstellen"
                    neben
                    jedem Training klicken. Wenn Sie irgendwelche Probleme haben, kontaktieren Sie mich bitte.

                    Ihr Abonnement verlängert sich automatisch, es sei denn, Sie schalten die automatische Verlängerung
                    mindestens 24 Stunden vor Ablauf des aktuellen Zeitraums aus.

                    Ihr Konto wird innerhalb von 24 Stunden vor Ablauf des aktuellen Zeitraums für die Erneuerung
                    belastet,
                    wobei die Kosten für die Erneuerung angegeben werden.

                    Abonnements können vom Nutzer verwaltet werden, und die automatische Verlängerung kann nach dem Kauf
                    in
                    den Kontoeinstellungen des Nutzers deaktiviert werden. Ein ungenutzter Teil eines eventuell
                    angebotenen
                    kostenlosen Probezeitraums verfällt, wenn der Nutzer ein Abonnement für die betreffende Publikation
                    erwirbt, sofern zutreffend.
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
</div>