<div class="context">
    <div class="box">
        <app-header></app-header>
        <app-hero-page></app-hero-page>
    </div>
    <div class="area box">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<app-community-feedback></app-community-feedback>
<app-short-overview></app-short-overview>