.bg-box{
    background-color: green;
    margin: 1em;
    font-size: 30px;
    border-radius: 25px;
}

.quote{
    line-height: 120%;
    text-align: justify;
    padding: 30px;
}

.author{
    font-size: medium;
    padding-right: 30px;
}