<div class="container">
    <h1>Was die Community sagt:</h1>

    <div class="parent">

        <div class="spacer"></div>

        <div class="box1">
           <p>1500+ Downloads</p>
        </div>

        <div class="spacer"></div>

        <div class="box2">
            <p>4.6/5 Sternen</p>
        </div>

        <div class="spacer"></div>
    </div>

    <div class="parent">
        <div class="spacer"></div>
        <app-quote quote="Tolle App genau das habe ich gesucht.
        Zirkel Training zu Hause! Eine kurze E-Mail an den Programmierer mit kleinen Verbesserungswünschen mit dem Versprechen diese beim nächsten Update umzusetzen!"></app-quote>
        <div class="spacer"></div>
        <app-quote quote="Die App Intervallo unterstützt ideal beim Training. Ich habe schon viele Intervall-Apps ausprobiert, aber das ist wirklich die beste, dich ich finden konnte. Die Bedienung ist einfach und intuitiv, das Training damit macht einfach Spaß. Kann ich zu 100% empfehlen!"></app-quote>
        <div class="spacer"></div>
    </div>
</div>