<div class="parent">
    <h1 id="title">Was die Community sagt:</h1>

    <div id="feedback">
        <p class="child" id="child1">1500+ Downloads</p>

        <p class="child" id="child2">4.6/5 Sternen</p>
    </div>

    <div id="quotes">
        <app-quote class="quote" id="q1"
            quote="Tolle App genau das habe ich gesucht.
        Zirkel Training zu Hause! Eine kurze E-Mail an den Programmierer mit kleinen Verbesserungswünschen mit dem Versprechen diese beim nächsten Update umzusetzen!">
        </app-quote>
        <app-quote class="quote" id="q2"
            quote="Die App Intervallo unterstützt ideal beim Training. Ich habe schon viele Intervall-Apps ausprobiert, aber das ist wirklich die beste, dich ich finden konnte. Die Bedienung ist einfach und intuitiv, das Training damit macht einfach Spaß. Kann ich zu 100% empfehlen!">
        </app-quote>
    </div>

</div>