<div class="parent">
    <h1 id="title"> Ein kurzer Überblick:</h1>
    <div id="images">
        <app-image-text url="assets/zwei.png" headline="Erstelle deine eigenen Workouts"
            content="Stelle deine Intervall- und Pausenzeit ein. Erstelle deine eigenen Übungen und versehe sie am besten noch mit einer Beschreibung. Und schon hast du dein eigenes Workout!">
        </app-image-text>
        <app-image-text url="assets/drei.png" headline="Und los geht’s"
            content="Durch ein aufgeräumtes Design siehts du genau wie lange deine Übung noch geht und was als nächstes kommt. Durch frei wählbare Signaltöne verpasst du keinen Wechsel.">
        </app-image-text>
        <app-image-text url="assets/eins.png" headline="Halte deine Workouts im Auge"
            content="Auf dem Startscreen sind alle dein Workout auf einen Blick. Wähle eins aus und starte sofort los!">
        </app-image-text>
        <app-image-text url="assets/vier.png" headline="Überwache deine Aktivität"
            content="Deine absolvierten Trainings werden alle gespeichert und in einem schönen Diagramm dargestellt. Zudem kannst du ein tägliches Trainingsziel setzten!">
        </app-image-text>
    </div>
</div>