.parent{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.child{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: larger;
  
}

.spacer{
    flex: 1 0 auto;
}